<style>

h1 {
}

#header {
  background-color: #1abc9c;
  color: white;
  font-size: 20px;
  font-family:Verdana;
  text-align:left;

  padding: 1%;
  padding-left:2%;
  max-width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

#underHeader {
	background-color: #C8C8C8;
	max-width: 100%;

	padding: 1%;
	padding-left:2%;
	margin-left: 20px;
	margin-right: 20px;
}


</style>